<h2>電話番号の確認</h2>

<%= form_for @user, url: signup_index_path, method: :post do |f| %>

  認証番号
  <%= f.text_field :telphone, autofocus: true, autocomplete: "telphone", placeholder: "認証番号の入力" %>
  <%= f.submit '認証して完了' %>


<% end %>