%body
  %header.header
    .header__upper-contents
      %h1.header__upper-contents__logo
        = link_to '/' do
          = image_tag 'fmarket_logo_red.svg', class: 'header__upper-contents__logo-image', height: '36px'
      %form.header__upper-contents__search{:action => "/search/"}
        %input.header__upper-contents__search-box{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
        %button.header__upper-contents__search-button
          %i.fa.fa-search
    .header__lower-contents
      .header__lower-contents__left-contents
        %ul.header__lower-contents__left-contents__menu
          %li
            %i.fa.fa-list>
            カテゴリーから探す
          %li
            %i.fa.fa-tag>
            ブランドから探す
      .header__lower-contents__right-contents
        %ul.header__lower-contents__right-contents__menu
          %li.sign_up 新規会員登録
          %li.login ログイン
