- if flash[:notice].blank?
  .pankuzu-box
    %nav.nav
      = breadcrumbs container_tag: "ul", fragment_tag: "li", class: "nav__scope"
- else
  .pankuzu-box
    .flash-message
      = flash[:notice]
      %i.fa.fa-times
    %nav.nav
      = breadcrumbs container_tag: "ul", fragment_tag: "li", class: "nav__scope"

