#wrapper
  = render partial: 'shared/header3'
.market-contents-second
  %header.market-header-second
    / ヘッダー
  %main.market-main-second
    / ヘッダーとフッダーを除いた部分全般
    .market-container-second
      / グレーを除いた白部分のみ
      .market-container-second__no-login-account
        / 新規会員登録ボタンエリア
        %p アカウントをお持ちでない方はこちら
        %a.market-container-second__new-login{href: "/signup/registration"} 新規会員登録
      .login-contents-second
        %button#facebook-login.login-contents-second__button-facebook
          %i.icon-facebook
          Facebookでログイン
        %button#google-login.login-contents-second__button-google
          %i.icon-google
          Googleでログイン
      %form{action: "#", method: "POST", novalidate: "novalidate"}
        / メアド、パスワード、ロボ確認、ログインの部分全般
        .login-form-area-second
          .login-form-area-second__login-groups
            / メアド登録フォーム
            %input.login-form-area-second__login-text-email{name: "email", placeholder: "メールアドレス", placeolder: "メールアドレス", type: "email", value: ""}/
          .login-form-area-second__login-groups
            / パスワード登録フォーム
            %input.login-form-area-second__login-text-password{name: "password", placeholder: "パスワード", placeolder: "パスワード", type: "password", value: ""}/
          .login-form-area-second__captha 仮ロボ認証
          %button.login-form-area-second__login-submit{type: "submit"} ログイン
          %a.login-form-area-second__password{href: "#"} パスワードをお忘れの方
  = render partial: 'shared/footer3'
