@import "./variable";
@import "./mixin";
@import "./color";

html {
  height: 100%;
  background-color: $light-gray;
  font-size: 62.5%;
  color: $black;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-weight: 500;
}

body {
  height: 100%;
  font-size: 0;
}

* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

a {
  text-decoration: none;
  color: $black;
}

.header {
  @include block;
  @include clearfix;

  padding-top: 0.8rem;

  background-color: $white;
  box-shadow: 0 0.3rem 0.3rem 0 rgba(0,0,0,0.16);
  border-bottom: 0.1rem solid $light-gray;

  z-index: 2;

  &__upper-contents {
    @include responsive-width;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;

    height: 4.0rem;

    background-color: transparent;

    &__logo {
      display: block;
      width: 13.4rem;

      margin-right: 4.5rem;
    }

    &__search {
      @include block;

      &-box {
        width: 100%;
        height: 4.0rem;
        padding: 0 4.2rem 0 1.0rem;

        font-size: $medium;
        background-color: $light-gray;

        border-radius: 0.4rem;
        outline-style: none;
        border: 0.1rem solid $gray;
      }

      &-button {
        position: absolute;
        right: 1.2rem;
        top: 0;

        font-size: $medium;
        line-height: 4.0rem;
      }
    }
  }

  &__lower-contents {
    @include responsive-width;
    @include clearfix;

    height: 4.4rem;
    margin-top: 0.8rem;

    &__left-contents {
      float: left;

      &__menu {
        li {
          float: left;
          margin-right: 2.8rem;

          font-size: $small;
          font-weight: bold;
          line-height: 3.6rem;

          a {
            display: block;

            &:hover {
              color: $blue;
            }
          }

          .fa {
            margin-right: 0.8rem;

            color: $red;
          }
        }
      }
    }

    &__right-contents {
      float: right;

      &__menu {
        li {
          float: left;

          margin-left: 1.2rem;

          font-size: $small;
          line-height: $small;

          a {
            display: block;
            padding: 0.8rem 1.0rem;

            color: $white;
            background-color: $red;
            border: 0.1rem solid $red;
            border-radius: 0.4rem;
          }

          &.login {
            a {
              color: $blue;
              border: 0.1rem solid $blue;
              background-color: $white;
            }
          }
        }
      }
    }
  }
}
