@import "./variable";
@import "./mixin";
@import './header';
@import './nav';
@import "./color";


.main {
  @include block;
  z-index: 1;
  margin-bottom: 8.0rem;

  background-color: $light-gray;
  overflow: hidden;

  &__slider {
    position: relative;
    height: 39.0rem;

    &__contents {
      position: relative;
      overflow: hidden;
      height: 100%;
      transform: translateX(-100vw);

      &__item {
        position: relative;
        float: left;
        width: 100vw;
        height: 100%;
        background-size: cover;
        z-index: 0;
      }

      &.right-sliding {
        transform: translateX(0vw);
        transition: 0.5s;

      }

      &.left-sliding {
        transform: translateX(-200vw);
        transition: 0.5s;

      }

      @include clearfix;
    }

    &__controller {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 998;

      &__button {
        &-left, &-right {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);

          width: 8.0rem;
          height: 8.0rem;

          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;

            width: 4.0rem;
            height: 4.0rem;
            border-right: 0.5rem solid $white;
            border-top: 0.5rem solid $white;
            filter: drop-shadow(0 0.3rem 0.3rem rgba(0,0,0,0.5));

            z-index: 999;
          }
        }

        &-left {
          left: 4.0rem;

          &:before {
            transform: rotate(-135deg);
          }
        }

        &-right {
          right: 4.0rem;

          &:before {
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  &__category, &__brand {
    @include block;
    padding: 6.0rem 0 3.0rem;
    text-align: center;
    background-color: $white;

    &__inner {
      @include inner;

      &__header {
        font-size: 2.8rem;
        font-weight: bold;
        margin-bottom: 1.4rem;
      }

      &__list {
        &-link {
          display: inline-block;

          font-size: 1.4rem;
          font-weight: bold;

          margin-right: 1.2rem;

          &-a {
            display: block;
            padding: 0.5rem 1.5rem;
            border-radius: 10.0rem;
            background-color: $light-gray;
          }
        }
      }
    }
  }

  &__electronics,
  &__hobbys,
  &__ladies,
  &__mens {
    @include block;
    padding: 4.0rem 0 2.0rem 0;
    background-color: $yellow-gray;

    &__inner {
      @include responsive-width;

      &__header {
        font-size: 2.4rem;
        font-weight: bold;
        margin-bottom: 0.8rem;
      }

      &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -1.0rem;

        &-item {
          position: relative;
          box-shadow: 0 0.3rem 0.3rem 0 rgba(0,0,0,0.16);
          width: calc(20% - 2.0rem);
          font-size: 1.4rem;
          margin: 1.0rem;
          display: inline-block;
          background-color: $white;
          border: 0.1rem solid transparent;

          transition: 0.4s;

          &:hover {
            border: 0.1rem solid $blue;
          }

          &:before {
            content: "";
            display: block;
            padding-top: 100%;
          }

          &-price {
            position: absolute;
            color: $white;
            font-size: 1.7rem;
            left: 0;
            bottom: 7.0rem;
            background-color: $black;
            padding: 0.8rem 1.4rem 0.8rem 0.8rem;
            border-top-right-radius: 1.4rem;
            border-bottom-right-radius: 1.4rem;
            background-color: rgba($black, 0.4);
          }

          &-image {
            position: absolute;
            width: 100%;
            height: 75%;
            top: 0;
            right: 0;
            left: 0;
            object-fit: cover;
          }

          &-title {
            padding: 10px;
            height: 6.2rem;
          }
        }
      }
    }
  }
}

.pagetop {
  position: fixed;
  display: block;

  bottom: 3.2rem;
  right: 3.2rem;
  width: 16.0rem;
  height: 16.0rem;
  background-color: $red;
  border-radius: 16.0rem;

  z-index: 100;
  padding-top: 3.0rem;

  font-size: 2.2rem;
  line-height: 3.0rem;
  color: $white;
  text-align: center;

  a {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }

  .fa {
    &:before {
      font-size: 6.0rem;
      line-height: 6.0rem;
    }
  }
}

@import './footer';
