@import "./variable";
@import "./mixin";
@import './header';
@import "./color";

.main {
  @include block;
  z-index: 1;
  margin-bottom: 8.0rem;

  background-color: $light-gray;

  &__cover {
    position: relative;
    width: 100%;
    height: 39.0rem;
    font-size: 0;
    overflow: hidden;

    &__controller {
      width: 100%;
      height: 100%;

      &__button {
        &-left, &-right {
          position: absolute;
          cursor: pointer;

          width: 8.0rem;
          height: 8.0rem;
          top: 40%;

          &:before {
            content: "";
            display: block;
            position: absolute;
            width: 4.0rem;
            height: 4.0rem;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border-top: 0.5rem solid $white;
            border-right: 0.5rem solid $white;
            filter: drop-shadow(0 0.3rem 0.3rem rgba($black, 0.5));
          }
        }

        &-left {
          left: 4.0rem;

          &:before {
            transform: rotate(-135deg);
          }
        }

        &-right {
          right: 4.0rem;

          &:before {
            transform: rotate(45deg);
          }
        }
      }
    }

    &__container {
      white-space: nowrap;
      font-size: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);

      &__item {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: 100;
      }

      &.sliding-left {
        transform: translateX(-200%);
        transition: 0.5s;
      }

      &.sliding-right {
        transform: translateX(0%);
        transition: 0.5s;
      }
    }

  }

  &__category, &__brand {
    @include block;
    padding: 6.0rem 0 3.0rem;
    text-align: center;
    background-color: $white;

    &__inner {
      @include inner;

      &__header {
        font-size: 2.8rem;
        font-weight: bold;
        margin-bottom: 1.4rem;
      }

      &__list {
        &-link {
          display: inline-block;

          font-size: 1.4rem;
          font-weight: bold;

          margin-right: 1.2rem;

          &-a {
            display: block;
            padding: 0.5rem 1.5rem;
            border-radius: 10.0rem;
            background-color: $light-gray;
          }
        }
      }
    }
  }

  &__electronics,
  &__hobbys,
  &__ladies,
  &__mens {
    @include block;
    padding: 4.0rem 0 2.0rem 0;
    background-color: $yellow-gray;

    &__inner {
      @include responsive-width;
      &__header {
        font-size: 2.4rem;
        font-weight: bold;
        margin-bottom: 0.8rem;
      }

      &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -1.0rem;

        &-item {
          position: relative;
          box-shadow: 0 0.3rem 0.3rem 0 rgba(0,0,0,0.16);
          width: calc(20% - 2.0rem);
          font-size: 1.4rem;
          margin: 1.0rem;
          display: inline-block;
          background-color: $white;
          border: 0.1rem solid transparent;

          transition: 0.4s;

          &:hover {
            border: 0.1rem solid $blue;
          }

          &:before {
            content: "";
            display: block;
            padding-top: 100%;
          }

          &-image {
            position: absolute;
            width: 100%;
            height: 75%;
            top: 0;
            right: 0;
            left: 0;
            object-fit: cover;
          }

          &-title {
            padding: 10px;
            height: 6.2rem;
          }
        }
      }
    }
  }
}

.pagetop {
  position: fixed;
  display: block;

  bottom: 3.2rem;
  right: 3.2rem;
  width: 16.0rem;
  height: 16.0rem;
  background-color: $red;
  border-radius: 16.0rem;

  z-index: 100;
  padding-top: 3.0rem;

  font-size: 2.2rem;
  line-height: 3.0rem;
  color: $white;
  text-align: center;

  a {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }

  .fa {
    &:before {
      font-size: 6.0rem;
      line-height: 6.0rem;
    }
  }
}

@import './footer';

.price-label {
  align-items: center;
  background: rgba(0,0,0,.4);
  border-radius: 0 14px 14px 0;
  bottom: 70px;
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-size: 17px;
  height: 28px;
  letter-spacing: .02em;
  margin: 0;
  padding: 0 12px;
  position: absolute;
  z-index: 2;
}

.soldout-box {
  &__text {
    top: 18px;
    font-size: 20px;
    position: absolute;
    left: 0;
    z-index: 2;
    transform: rotate(-45deg);
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
  }
  &::after {
    border-width: 80px 80px 0 0;
    border-color: #ea352d transparent;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
  }
}
