@import "./variable";
@import "./mixin";
@import './header2';
@import "./footer2";
@import './nav';
@import "./color";
@import "./pay";
@import "./mypage";
@import "./likes";


html {
  height: 100%;
  background-color: $light-gray;
  font-size: 62.5%;
  color: $black;
  font-family: メイリオ, Meiryo, Arial, 游ゴシック体, YuGothic, sans-serif;
  font-weight: 500;
}

body {
  line-height: 1;
  font-size: 14px;
  height: 100%;
  color: #333;
}

h2,h3{
  font-weight: bold;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;}

* {

  box-sizing: border-box;
}

*, ::before, ::after {
  border-style: solid;
  border-width: 0;
}

button, input, select, textarea {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

a {
  text-decoration: none;
  color: $black;
}


.form-require, .form-arbitrary, .message-is-seller, .news-private{
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.form-group:first-child {
  margin: 0;
}
.form-group_children {
  margin: 40px 0 0;
}

.bold {
  font-weight: 600;
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.single-main{
  @include block;
}


.l-single-container{
  width: 700px;
  margin: 0 auto;
  background: #fff;
  h2.l-single-head{
    padding: 32px 16px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
  }
}

.sell-form{
  border-top: 1px solid #eee;
  .sell-upload-box{
    padding: 40px;
    .sell-upload-head{
      font-size: 16px;
      .form-require{
        background: #ea352d;
      }
      &+p{
        margin: 8px 0 0;
        line-height: 1.5;
        color: #333;
      }
    }
  }
}

.form-require{
  background: #ea352d;
}

.sell-dropbox-container {
  display: block;
  width: 620px;
}

.sell-upload-drop-box {
  position: relative;
  padding: 40px;
  min-height: 162px;
  background: #f5f5f5;
  border: 1px dashed #ccc;
  font-size: 0;
  text-align: center;
  transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
  cursor: pointer;
  .sell-upload-drop-file{
    display: none;
  }
}

.sell-upload-drop-box p {
  position: absolute;
  top: 40%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  
}

.sell-content {
  padding: 40px;
  border-top: 1px solid #eee;
  .form-group, .form-group2 {
    label{
      font-weight: 600;
    }
    .input-default{
      width: 100%;
      margin: 8px 0 0;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
    .textarea-default {
      margin: 8px 0 0;
      display: block;
      width: 100%;
      max-width: 100%;
      min-height: 104px;
      padding: 10px;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
.form-group{
  margin: 40px 0 0;
}

.sell-content {
  padding: 40px;
  border-top: 1px solid #eee;
  .sell-sub-head {
    color: #888;
    font-size: 14px;
    float: left;
  }
  .sell-form-box {
    float: right;
    width: 400px;
    margin: 0;
  }
}
.form-group .select-wrap {
  margin: 8px 0 0;
  select {
    width: 100%;
}
}
.select-wrap {
  position: relative;
  background: #fff;
  .icon-arrow-bottom {
    position: absolute;
    right: 16px;
    top: 50%;
    z-index: 2;
    color: #888;
    font-size: 8px;
    transform: translate(0, -50%);
  }
}
.select-default{
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}
.product_category-select{
  margin: 8px 0 0 0;
}
.category_select-box{
  width: 100%;
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.form-arbitrary {
  background: #ccc;
}

.sell-price {
  &-input{
    text-align: right;
    &>div {
      display: inline-block;
      width: 80%;
      margin: 0 0 0 5%;
    }
    .input-default {
      margin: 0;
      text-align: right;
    }
  }
  >li:first-child {
    padding: 0 0 24px;
    border: 0;
  }
  >li {
    padding: 24px 0;
    border-top: 1px solid #ccc;
  }
  .form-group {
    .l-left {
      width: 50%;
      line-height: 48px;
    }
    .l-right {
      width: 50%;
    }
  }
}
.l-left{
  float: left;
}
.l-right {
  float: right;
}
.sell-btn-box {
  p {
  line-height: 0.5em;
  }
  .btn-red {
    margin: 40px 0 0;
  }
  .btn-gray {
    width: 45%;
    margin: 24px auto 0;
  }
}
.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}
.btn-gray {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}


// 商品詳細ページ
.product-box-content {
  padding: 24px 40px 40px;
  margin: 40px auto 0;
  background: $white-color;
  width: 700px;

  &__product-name {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    font-weight: bold;
  }

  &__product-main-content {
    margin: 16px 0 0;
    position: relative;
    &__product-image {
      position: absolute;
      left: 0;
      top:0;
      width: 300px;
      min-height: 375px;
      margin: 0 auto;
      background: #fafafa;
      &__big {
        white-space: nowrap;
        overflow: hidden;
        font-size: 0;
        img {
          display: inline-block;
          width: 300px;
          height: 300px;
          object-fit: cover;
        }
      }
      &__others {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        .image-list {
          width: 60px;
          height: 60px;
          overflow: hidden;
          cursor: pointer;
          opacity: .4;
          img {
            width: 60px;
            height: 60px;
            object-fit: cover;
          }
        }
        .image-list-active {
          opacity: 1;
        }
      }
      &__soldout-box {
        &__text {
          top: 24px;
          font-size: 28px;
          color: #fff;
          position: absolute;
          left: 0;
          z-index: 2;
          transform: rotate(-45deg);
          letter-spacing: 2px;
          font-weight: 600;
        }
        &::after {
          border-width: 120px 120px 0 0;
          border-color: #ea352d transparent;
          display: block;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 0;
          height: 0;
          border-style: solid;
        }
      }
    }

    &__product-information {
      float: right;
      max-width: 300px;
      height: 420px;
      margin: 0 auto;
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;
      border-spacing: 0;
      th {
        width: 39%;
        text-align: left;
        font-weight: 400;
        background: #fafafa;
        padding: 8px;
        border-collapse: collapse;
        border: 1px solid #f5f5f5;
      }
      td {
        width: 61%;
        background: #fff;
        padding: 8px;
        border-collapse: collapse;
        border: 1px solid #f5f5f5;
        a {
          display: block;
          color: #0099e8;
          text-decoration: none;
          &:hover {
            color: #00b6e8;
            text-decoration: underline;
          }
        }
        .sub-category {
          &::before {
            content: '\f105';
            font-family: FontAwesome;
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
      .seller-ratings {
        display: inline-block;
        margin: 8px 0 0 16px;
        &:first-child {
          margin-left: 0;
        }
        .fa {
          font-size: 20px;
          vertical-align: middle;
        }
        .fa-smile-o {
          color: #ef5185;
        }
        .fa-meh-o {
          color: #fba933;
        }
        .fa-frown-o {
          color: #6ab5d8;
        }
      }
    }
  }

  &__product-price-box {
    clear: both;
    text-align: center;
    padding: 24px 0 0;
    .product-price {
      margin: 0 16px 0 0;
      font-size: 50px;
      font-weight: bold;
    }
    .pruduct-tax {
      font-size: 10px;
    }
    .product-postage {
      display: inline-block;
      font-size: 16px;
    }
  }

  &__buy-btn {
    width: 620px;
    height: 60px;
    text-align: center;
    position: relative;
    a {
      display: block;
      position: absolute;
      top:0;
      left:0;
      font-size: 24px;
      line-height: 60px;
      width: 100%;
      height: 100%;
      margin-top: 16px;
      background: #ea352d;
      color: $white-color;
      font-weight: bold;
    }
    .sold-out {
      display: block;
      position: absolute;
      top:0;
      left:0;
      font-size: 24px;
      line-height: 60px;
      width: 100%;
      height: 100%;
      margin-top: 16px;
      color: $white-color;
      font-weight: bold;
      background: #888;
      cursor: not-allowed;
    }
  }

  &__product-information {
    padding: 32px 0 0;
    line-height: 1.5;
    font-size: 18px;
    &__text {
      white-space: pre-wrap;
    }
  }

  &__btn-box {
    margin: 16px 0 0;
    font-size: 14px;
    overflow: hidden;
    .fa {
      margin-right: 8px;
    }
    &__left {
      display: flex;
      float: left;
      .report-btn {
        @include product-btn;
        margin: 0 0 0 16px;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        &:hover {
          opacity: .7;
        }
      }
    }
    &__right {
      float: right;
      margin: 8px 0 0;
      a {
        color: #0099e8;
        &:hover{
          color: #00b6e8;
        }
      }
    }
  }
}

.product-box-content-under {
  background: $white-color;
  width: 700px;
  margin: 8px auto;
  &__message {
    padding: 24px;
    .product-message-form {
      p {
        padding: 8px;
        font-size: 14px;
        background: #fff6de;
      }
      .product-textarea {
        margin: 8px 0 0;
        display: block;
        width: 100%;
        max-width: 100%;
        min-height: 104px;
        padding: 10px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
        line-height: 1.5;
      }
      .product-mesage-submit {
        display: block;
        line-height: 48px;
        cursor: pointer;
        width: 100%;
        margin: 8px 0 0;
        font-size: 14px;
        text-align: center;
        background: #aaa;
        border: 1px solid #aaa;
        color: $white-color;
      }
    }
  }
}

.product-link-list {
  margin: 24px auto 0;
  width: 700px;
  overflow: hidden;
  &__left {
    width: 45%;
    position: relative;
    float: left;
    padding: 0 0 0 14px;
    word-wrap: break-word;
    a {
      color: #0099e8;
      text-decoration: none;
      &:hover {
        color: #00b6e8;
        text-decoration: underline;
      }
      &::before {
        content: '\f104';
        font-family: FontAwesome;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }
    }
  }
  &__right {
    width: 45%;
    position: relative;
    float: right;
    padding: 0 14px 0 0;
    word-wrap: break-word;
    text-align: right;
    a {
      color: #0099e8;
      text-decoration: none;
      &:hover {
        color: #00b6e8;
        text-decoration: underline;
      }
      &::after {
        content: '\f105';
        font-family: FontAwesome;
        font-size: 25px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
      }
    }
  }
}

.product-media-box {
  margin: 24px auto;
  padding: 32px 0 24px;
  width: 700px;
  background: $white-color;
  &__list {
    margin: 16px 0 0;
    text-align: center;
    font-size: 0;
    li {
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      .fa-facebook-official {
        @include product-media-icon;
        font-size: 30px;
        color: #fff;
        background: #385185;
        &:hover {
          opacity: .7;
        }
      }
      .fa-twitter {
        @include product-media-icon;
        font-size: 30px;
        color: #fff;
        background: #5d9dc9;
        &:hover {
          opacity: .7;
        }
      }
      .fa-pinterest {
        @include product-media-icon;
        color: #fff;
        background: #aa262a;
        font-size: 20px;
        &:hover {
          opacity: .7;
        }
      }
    }
  }
}

.products-introduction {
  width: 700px;
  margin: 0 auto;
  .product-box-head {
    font-size: 22px;
    margin: 24px 0 8px;
    line-height: 1.4;
  }
  a {
    color: #0099e8;
    text-decoration: none;
    &:hover {
      color: #00b6e8;
      text-decoration: underline;
    }
  }
  .product-introduction-box-content {
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    &__product-box {
      width: 220px;
      margin: 0 20px 20px 0;
      position: relative;
      float: left;
      background: $white-color;
      &:nth-child(3n) {
        margin-right: 0;
      }
      a {
        display: block;
        color: #333;
        text-decoration: none;
        .product-box-photo {
          width: 220px;
          height: 220px;
          overflow: hidden;
          padding: 0 0 100%;
          position: relative;
          margin: 0;
          img {
            object-fit: cover;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 220px;
            height: 220px;
          }
        }
        .product-box-body {
          padding: 16px;
          height: 110px;
          &__title {
            overflow: hidden;
            position: relative;
            height: 3em;
            line-height: 1.5;
            font-size: 16px;
            font-weight: 400;
            &::after {
              display: block;
              content: '';
              position: absolute;
              bottom: 0;
              right: 0;
              width: 50%;
              height: 1.5em;
              background: linear-gradient(to right, rgba(255,255,255,0), #fff 72%);
            }
          }
          &__other {
            display: flex;
            justify-content: space-between;
            margin: 8px 0 0;
            &__price {
              font-size: 17px;
              font-weight: 600;
            }
            &__like {
              span {
                font-size: 16px;
                &::before {
                  content: '\f08a';
                  font-family: FontAwesome;
                  color: #ccc;
                  font-weight: 400;
                  margin-right: 3px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.bread-crumbs-bottom {
  background: #f5f5f5;
  border-top: 1px solid #eee;
  position: relative;
  ul {
    width: 1020px;
    overflow: visible;
    margin: 0 auto;
    padding: 16px 0;
    li {
      text-overflow: ellipsis;
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      &:last-child {
        font-weight: 600;
      }
      a {
        color: #333;
        &::after {
          content: '\f105';
          font-family: FontAwesome;
          margin: 0 8px;
          font-size: 16px;
          color: #888;
        }
      }
    }
  }
}


.prduct-box-content-delete{                           //商品削除機能あたり
  width: 700px;
  background: #fff;
  margin: 24px auto;
  &__content{                                        //内側
    padding: 24px;
    position: relative;
    #product-edit{
      width: 652px;
      height: 50px;
      text-align: center;
      position: relative;
      .product-edit{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 16px;
        line-height: 60px;
        width: 100%;
        height: 100%;
        background: #ea352d;
        color: #fff;
        font-weight: bold
      }
    }

    .product-or{
      height: 50px;
      font-size: 14px;
      color: #333;
      background:  #fff;
      display: block;
      line-height: 48px;
      text-align: center;
    }

    #product-stop{
      width: 100%;
      .fa-product-sotop{
        height: 50px;
        font-size: 14px;
        color: #fff;
        background: #aaa;
        display: block;
        line-height: 48px;
        cursor: pointer;
      }
    }

    #product-delete{
      width: 100%;
      margin-top: 20px;
      height: 50px;
      font-size: 14px;
      background: #aaa;
      display: block;
      line-height: 48px;
      cursor: pointer;
      .product-delete{
        color: #fff;
      }
    }
  }
}

// 商品検索結果
.search-contener {
  position: relative;
  margin: 40px auto 0;
  width: 1020px;
  &__left  {
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
    &__details-search {
      position: relative;
      &__sort {
        opacity: 1;
        position: static;
        width: auto;
        top: 0;
        left: 0;
        z-index: 10;
        margin: 0 auto;
        &__box {
          background: #fff;
          text-align: left;
          .fa-angle-down {
            @include select-icon;
            font-size: 20px;
            font-weight: bold;
          }
          .search-select {
            @include select-default;
          }
        }
      }
      &__down-contents {
        position: static;
        display: block;
        padding: 16px;
        margin: 40px 0 0;
        position: absolute;
        z-index: 1;
        top: 72px;
        left: 0;
        right: 0;
        background: #fff;
        .sub-title {
          font-size: 16px;
          display: block;
        }
        &__form-group {
          margin: 24px 0 0;
        }
      }
    }
  }

  &__right {
    float: right;
    width: 700px;
    &__search-results {
      display: block;
      clear: both;
      .serch_keyword {
        font-size: 22px;
        margin: 0 0 8px;
        font-weight: bold;
        line-height: 1.4;
        &--text {
          font-size: 18px;
          margin: 0 0 0 4px;
          font-weight: 400;
        }
      }
      &__length {
        margin: 16px 0;
        font-size: 12px;
        color: #888;
      }
      &__all {
        width: auto;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        clear: both;
        &__box {
          margin: 0 20px 20px 0;
          width: 160px;
          position: relative;
          float: left;
          background: #fff;
          &:first-child {
            margin-left: 0;
          }
          &:nth-child(4n) {
            margin-right: 0;
          }
          &__img-box {
            width: 160px;
            height: 160px;
            overflow: hidden;
            position: relative;
            padding: 0 0 100%;
            .soldout-box {
              &__text {
                top: 16px;
                font-size: 14px;
                color: #fff;
                position: absolute;
                left: 0;
                z-index: 2;
                transform: rotate(-45deg);
                letter-spacing: 2px;
                font-weight: 600;
              }
              &::after {
                border-width: 60px 60px 0 0;
                border-color: #ea352d transparent;
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 0;
                height: 0;
                border-style: solid;
              }
            }
            &--img {
              width: 160px;
              height: 160px;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1;
            }
            &__information {
              position: relative;
              height: 58px;
              padding: 8px 12px;
              .product-title {
                font-size: 14px;
                overflow: hidden;
                position: relative;
                font-weight: 400;
                height: 3em;
                line-height: 1.5;
                word-break: break-word;
                white-space: normal;
                color: #333;
                &::after {
                  width: 30%;
                  display: block;
                  content: '';
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  height: 1.5em;
                  background: linear-gradient(to right, rgba(255,255,255,0), #fff 72%);
                }
              }
            }
          }
        }
      }
    }
  }
}

.sell-upload-item:first-child{
  background-color: #f5f5f5;
  border: solid 1px #eee;
}
.sell-upload-item{
  width: 117px;
  background-color: #f5f5f5;
  margin-right: 9px;
  border: solid 1px #eee;
}
#display-flex_box{
  display: flex;
  width: 620px;
  margin: 16px auto 0;
}
#display-flex_box2{
  display:  none;
  width: 620px;
  margin: 16px auto 0;
}

#preview, #preview2{
  display: flex;
}

.img_view{ 
  padding: 30px 0 30px 0;
  width: 116px;
}
.btn_wrapper{
  display: flex;
  justify-content: space-between;
  height: calc(100% - 127px);
  .btn{
    width: 50%;
    line-height: 30px;
    text-align: center;
    color: #0099e8;
  }
  .btn:hover{
    opacity: 0.6;
    text-decoration: underline;
  }
  .edit{
    border-right: solid 1px #eee;
  }
}